@import '/assets/variables';

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('/assets/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot');
  src: url('/assets/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'),
  url('/assets/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('/assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot');
  src: url('/assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
  url('/assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/assets/fonts/RobotoMono-Regular/RobotoMono-Regular.eot');
  src: url('/assets/fonts/RobotoMono-Regular/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/RobotoMono-Regular/RobotoMono-Regular.woff') format('woff'),
  url('/assets/fonts/RobotoMono-Regular/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Begin general */

.wrapper {
  font-size: 16px;
  background-color: $dark-bg;
}

.cabinet {
  width: 100%;
  min-height: 100vh;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-family: $font-ssp-regular;
}

.cabinet__main {
  flex-grow: 1;
  border-radius: 3px;
  .uk-grid-small {
    margin-left: -10px;
  }
  .uk-grid-small > * {
    padding-left: 10px;
  }
}

.display_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.flex_left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.title {
  margin-right: 10px;
  font-family: $font-ssp-bold;
  font-size: 0.9375em;
  color: $light-text-color;
  white-space: nowrap;
}

.svg_icon {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.separator {
  margin: 0 -10px;
  opacity: 0.2;
  border-top: 1px solid $border-color;
}

.font_bold {
  font-family: $font-ssp-bold;
  color: $white;
}

.text_center {
  text-align: center;
}

.color_white {
  color: $white;
}

.color_red {
  color: $red !important;
}

.color_white {
  color: $white !important;
}

.color_light {
  color: $light-text-color !important;
}

.color_green {
  color: $green !important;
}

/* End general */

/*********************************************/

/* Begin vertical navigation */

.vertical-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  overflow: hidden;
  background-color: $form-bg;
  box-shadow: $main-box-shadow;
  &:hover {
    .vertical-nav__link {
      width: 150px;
      transition: all 300ms ease-in-out;
    }
  }
  &__item {
    &:last-child {
      .vertical-nav__link {
        border-bottom: none;
      }
    }
    &_active {
      .vertical-nav__link {
        background-color: $dark-bg;
      }
    }
  }
  &_logo {
    background-color: $form-bg;
    &:hover {
      .vertical-nav__link {
        background-color: $form-bg;
      }
    }
  }
  &__link {
    width: 50px;
    min-height: 44px;
    background-color: $form-bg;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-bg;
    transition: all 300ms ease-in-out;
    &:hover {
      text-decoration: none;
      background-color: $dark-bg;
    }
  }
  &__icon {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__name {
    padding-left: 5px;
    padding-right: 20px;
    font-family: $font-ssp-regular;
    font-size: 0.875em;
    color: $white;
    white-space: nowrap;
  }
}

/* End vertical navigation */

/*********************************************/

/* Begin chat */

.chat {
  position: fixed;
  right: calc((100% - 940px) / 2);
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  &-btn {
    width: 50px;
    height: 50px;
    border: 1px solid $border-color-dark;
    border-radius: 50%;
    background-color: $light-bg;
    box-shadow: $main-box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-box {
    width: 280px;
    border: 1px solid $border-color-dark;
    border-radius: 3px;
    background-color: $light-bg;
    box-shadow: $chat-box-shadow;
  }
  &__header {
    min-height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid transparentize($link-color, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__title {
    font-family: $font-ssp-bold;
    font-size: 0.9375em;
    line-height: 1;
    color: $gray;
  }
  &__close {
    line-height: 0;
    margin-left: auto;
    svg {
      width: 12px;
      height: 12px;
    }
  }
  &-room {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &__msg {
      width: 100%;
      margin-bottom: 10px;
      &.msg_enemy {
        .chat-room__msg-content {
          align-items: flex-start;
        }
        .chat-room__msg-text {
          border-radius: 10px 10px 10px 0;
          background-color: $chat-msg-bg;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      &-name {
        margin-bottom: 5px;
        font-family: $font-ssp-bold;
        font-size: 0.75em;
        color: $gray;
      }
      &-text {
        margin-bottom: 3px;
        padding: 6px 10px;
        font-family: $font-ssp-regular;
        font-size: 0.75em;
        line-height: 16px;
        color: $white;
        border-radius: 10px 10px 0 10px;
        background-color: $dark-bg;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-form {
    min-height: 30px;
    border-top: 1px solid transparentize($link-color, 0.8);
    &__box {
      position: relative;
      width: 100%;
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &__input {
      width: 100%;
      height: 100%;
      min-height: 30px;
      padding: 0 25px 0 10px;
      outline: none;
      color: $white;
      font-size: 0.75em;
      border: none;
      background-color: $light-bg;
      &::placeholder {
        font-family: $font-ssp-regular;
        font-size: 12px;
        color: $white;
      }
    }
    &__button {
      position: absolute;
      right: 0;
      top: 50%;
      height: 100%;
      padding: 0 6px;
      outline: none;
      cursor: pointer;
      border: none;
      background-color: transparent;
      transform: translateY(-50%);
    }
  }
}

/* End chat */

/*********************************************/

/* Begin cabinet__header */

.cabinet__header {
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: $light-bg;
  box-shadow: $main-box-shadow;
}

/* Begin tab-switch */

.tab-switch {
  display: flex;
  align-items: center;
  &.tab-switch_full {
    .tab-switch__title {
      font-family: $font-ssp-bold;
      font-size: 0.9375em;
    }
  }
  &__title {
    margin-right: 10px;
    font-size: 1.125em;
    line-height: 1em;
    color: $light-text-color;
  }
  &__list {
    display: flex;
    &_full {
      height: 42px;
      display: flex;
      align-items: center;
      .tab-switch__list-item {
        height: 100%;
        padding: 0 11px;
        border-radius: 0 !important;
        display: flex;
        align-items: center;
      }
    }
    .uk-active {
      color: $white;
      border-radius: 3px;
      background-color: $dark-bg;
      transition: all 300ms ease-in-out;
      &:hover {
        color: $white;
      }
    }
    &-item {
      display: inline-block;
      font-family: $font-ssp-bold;
      font-size: 0.75em;
      text-transform: uppercase;
      line-height: 1;
      padding: 5px 10px;
      color: $light-text-color;
      white-space: nowrap;
      &:hover {
        color: $light-text-color;
        text-decoration: none;
      }
    }
  }
}

/* End tab-switch */

/****************************************/

/* Begin search */

.search {
  position: relative;
  width: 230px;
  height: 20px;
  line-height: 1;
  &_small {
    width: 155px;
  }
  &_right {
    margin-left: auto;
  }
  &__input {
    width: 100%;
    height: 100%;
    padding: 0 35px 0 5px;
    line-height: 1;
    font-size: 0.75em;
    font-family: $font-ssp-regular;
    color: $light-text-color;
    outline: none;
    border: 1px solid $form-border-color;
    border-radius: 2px;
    background-color: $form-bg;
    box-sizing: border-box;
    &::placeholder {
      font-family: $font-ssp-regular;
      font-style: italic;
      font-size: 10px;
      line-height: 20px;
      color: $light-text-color;
      transition: all 300ms ease-in-out;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
        transform: translateX(30px);
      }
    }
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    padding: 0;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    //background: transparent;
    .svg_icon {
      width: 14px;
      height: 14px;
    }
  }
}

/* End search */

/*********************************************/

/* Begin profile-info */

.profile-info {
  position: relative;
  margin-left: auto;
  padding-left: 10px;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 48px;
    border-left: 1px solid $border-color;
    opacity: 0.2;
    transform: translateY(-50%);
  }
  &__list {
    margin-right: 60px;
    &-item {
      display: flex;
      font-family: $font-ssp-regular;
      font-size: 0.75em;
      color: $light-text-color;
      &-value {
        color: $main-text-color;
        margin-left: 5px;
      }
    }
  }
  &__mail {
    font-family: $font-ssp-regular;
    font-size: 0.75em;
    a {
      color: $main-text-color;
      transition: color 300ms ease-in-out;
      &:hover {
        color: $button-light-bg;
        text-decoration: none;
      }
    }
  }
}

/* End profile-info */

/* End cabinet__header */

/*********************************************/

/* Begin table__box */

.table__box {
  padding: 8px 5px;
  border-radius: 3px;
  background-color: $light-bg;
}

.background_form {
  background-color: $light-bg;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: $light-bg;
  &.table_spec,
  &.table_profile {
    th, td {
      padding-left: 20px;
    }
  }
  &__head {
    .table__row {
      height: 40px;
      background-color: $dark-bg;
    }
  }
  &__body {
    .table__row {
      height: 30px;
      &:nth-child(even) {
        background-color: $table-dark-line-bg;
      }
    }
  }
  th {
    padding-left: 10px;
    font-family: $font-ssp-bold;
    font-size: 0.75em;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.25;
    overflow: hidden;
    color: $light-text-color;
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
  td {
    padding-left: 10px;
    font-family: $font-ssp-regular;
    font-size: 0.875em;
    overflow: hidden;
    color: $main-text-color;
    &.num_style {
      font-family: $global-font-family;
      font-size: 12px;
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
  .num_style {
    font-family: $global-font-family;
    font-size: 12px;
  }
  .table__link {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-color;
    }
  }
  &.table_profile {
    .data_1 {
      width: 30%;
    }
    .data_2 {
      width: 28.60%;
    }
    .data_3 {
      width: 27.95%;
    }
    .data_4 {
      width: 13.45%;
    }
  }
  .status_icon {
    height: 100%;
    display: flex;
    align-items: center;
    svg {
      margin-right: 12px;
    }
  }
  &_hover {
    .table__body {
      .table__row {
        transition: background-color 300ms ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: transparentize($light-text-color, 0.5);
        }
        &:active {
          background-color: transparentize($link-color, 0.3);
        }
      }
    }
  }
  &_statistics {
    .table__row {
      height: 30px;
      &.row_active {
        background-color: transparentize($link-color, 0.3) !important;
      }
    }
    th, td {
      padding-left: 5px;
    }
    td, th {
      &.data_1 {
        padding-left: 10px;
      }
      &.data_check {
        line-height: 1;
      }
    }
  }
}

.overnull {
  color: transparentize($main-text-color, 0.7);
}

/* End table__box */

/*********************************************/

/* Begin Profile */

.profile__table {
  padding: 8px 5px;
  border-radius: 3px;
  background-color: $light-bg;
}

.profile__twofa {
  padding: 7px 20px 20px;
  border-radius: 3px;
  background-color: $light-bg;
}

.twofa {
  &__title {
    font-family: $font-ssp-bold;
    font-size: 0.9375em;
    color: $light-text-color;
  }
  &_disabled {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -11px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $red;
      transform: translateY(-50%);
    }
  }
  &_enable {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -11px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $green;
      transform: translateY(-50%);
    }
  }
  &__row {
    margin-top: 20px;
    .twofa__title {
      margin-bottom: 10px;
    }
  }
  &__content {
    &-qrbox {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .qr-code {
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        max-height: 60px;
        margin-right: 10px;
        background-color: $white;
      }
    }
    &-text {
      font-family: $font-ssp-regular;
      font-size: 0.75em;
      color: $main-text-color;
    }
    &-key {
      font-family: $font-ssp-bold;
      font-size: 0.75em;
      text-transform: uppercase;
      color: $white;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

.profile__api {
  padding: 15px 10px;
  border-radius: 3px;
  background-color: $light-bg;
  &-row {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-description {
    font-family: $font-ssp-regular;
    font-size: 0.625em;
    line-height: 12px;
    color: $main-text-color;
  }
}

.settings__box {
  margin-bottom: 10px !important;
  border-radius: 3px;
  background-color: $light-bg;
  &-title {
    padding: 7px 10px;
    font-family: $font-ssp-regular;
    font-size: 0.9375em;
    line-height: 17px;
    color: $light-text-color;
    border-bottom: 1px solid transparentize($border-color, 0.8);
  }
}

.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  padding: 0;
  font-family: $font-ssp-bold;
  font-size: 0.875em;
  color: $white;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: background-color 300ms ease-in-out;
  &.deposit_btn {
    background-color: $button-light-bg;
    &:hover, &:focus {
      color: $white;
      text-decoration: none;
      background-color: $button-light-bg-focused;
    }
    &:active {
      color: $white;
      text-decoration: none;
      background-color: $button-light-bg-active;
    }
  }
  &.denim_btn {
    background-color: $button-light-gray-bg;
    &:hover, &:focus {
      background-color: $link-color;
    }
    &:active {
      background-color: $button-light-bg-active;
    }
  }
  &.btn_more {
    max-width: 155px;
    padding: 0 22px;
    svg {
      margin-right: 5px;
    }
  }
  &.bnt_liner {
    width: auto;
    height: 24px;
    margin: 0 6px;
    padding: 0 15px;
    font-family: $font-ssp-regular;
    font-size: 0.75em;
    line-height: 24px;
    background-color: transparent;
    transition: color 300ms ease-in-out, background-color 300ms;
    &:hover {
      text-decoration: none;
    }
    svg {
      margin-right: 5px;
      transition: stroke 300ms ease-in-out;
    }
  }
  &.btn_success {
    color: $green;
    border: 1px solid $green;
    &:hover {
      color: $main-text-color;
      background-color: $green;
      svg {
        stroke: $white;
      }
    }
    &:active {
      border-color: $green-passed;
      background-color: $green-passed;
    }
    svg {
      stroke: $green;
    }
  }
  &.btn_denied {
    color: $red;
    border: 1px solid $red;
    &:hover {
      color: $main-text-color;
      background-color: $red;
      svg {
        stroke: $white;
      }
    }
    &:active {
      border-color: $red-passed;
      background-color: $red-passed;
    }
    svg {
      stroke: $red;
    }
  }
  &.bgn_small {
    max-width: 155px;
  }
}

/* End Profile */

/*********************************************/

/* Begin output */

.output {
  margin-top: 10px;
  border-radius: 3px;
  background-color: $light-bg;
  box-shadow: $main-box-shadow;
  &__header {
    padding: 7px 10px;
    border-bottom: 1px solid transparentize($border-color, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &_left {
    margin-right: auto;
  }
  &_right {
    margin-left: auto;
  }
  &_center {
    margin-left: auto;
    margin-right: auto;
  }
  &__body {
    padding: 7px 5px;
  }
  &__controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.link {
  font-family: $font-ssp-bold;
  font-size: 0.75em;
  color: $button-light-bg;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: color 300ms ease-in-out;
  &:hover {
    color: $button-light-bg-active;
    text-decoration: none;
  }
  &_blue {
    display: inline-block;
    margin: 0 2px;
    font-family: $font-ssp-bold;
    font-size: 12px;
    color: $button-light-bg;
  }
  &_forgot {
    margin-left: auto;
  }
  &_plus {
    height: 100%;
    font-size: 12px;
    font-family: $font-ssp-bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-left: 5px;
    }
  }
  &.link_download {
    svg {
      margin-right: 6px;
      margin-top: -2px;
      stroke: $button-light-bg;
      transition: stroke 300ms ease-in-out;
    }
    &:hover {
      svg {
        stroke: $button-light-bg-active;
      }
    }
  }
}

/* End output */

/*********************************************/

/* Begin wallets */

.total {
  font-family: $font-ssp-bold;
  font-size: 0.6875em;
  color:$button-light-bg;
}

.table_wallets {
  td, th {
    padding-left: 0;
    &.data_0 {
      position: relative;
      width: 2.5%;
    }
    &.data_1 {
      width: 11.3%;
    }
    &.data_2 {
      width: 9.1%;
    }
    &.data_3 {
      width: 11.6%;
    }
    &.data_4 {
      width: 13.6%;
    }
    &.data_5 {
      width: 13.7%;
    }
    &.data_6 {
      width: 13.7%;
    }
    &.data_7 {
      width: 13.7%;
    }
    &.data_8 {
      width: 10.8%;
    }
  }
}

.drop__btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 200ms ease-in-out;
  svg {
    transform: rotate(-90deg);
  }
}

//.wallets__table-box {
//  transition: height 300ms ease-in-out;
//}

.wallets__table-item {
  border-radius: 3px;
  background-color: $light-bg;
  &:nth-child(even) {
    background-color: $table-dark-line-bg;
  }
  .table {
    background-color: transparent;
  }
  //.table {
  //  border-radius: 3px;
  //  background-color: $light-bg;
  //}
  //&:nth-child(even) {
  //  .table {
  //    background-color: $table-dark-line-bg;
  //  }
  //}
  &.drop_active {
    .wallets__box-btns {
      padding: 2.5% 0 3%;
    }
    .drop__btn {
      transform: rotate(90deg);
    }
  }
}

.wallets__box-btns {
  padding: 0;
  overflow: hidden;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

/* End wallets */

/*********************************************/

/* Begin modal */

.modal {
  background-color: transparentize($button-light-bg, 0.2);
  &__wrap {
    padding: 0;
    width: 940px;
    border-radius: 3px;
    background-color: $light-bg;
    box-shadow: $main-box-shadow;
  }
  &__header {
    position: relative;
    padding: 10px 10px 6px;
    border-bottom: 1px solid transparentize($border-color, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .title {
      margin-right: 0;
      line-height: 18px;
    }
  }
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 8px;
    padding: 2px 4px 4px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }
  &__content {
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    &-title {
      margin: 0;
      font-family: $font-ssp-regular;
      font-size: 1.25em;
      color: $gray;
      text-align: center;
    }
    &-info {
      margin-top: 20px;
      font-family: $font-ssp-regular;
      font-size: 1em;
      color: $main-text-color;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
      svg {
        margin-top: 6px;
        margin-right: 10px;
      }
    }
    &-buttons {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-default {
        margin: 0 5px;
      }
    }
  }
}

.withdraw__form {
  max-width: 455px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.form__group-twice {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .form__group {
    width: 100%;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.tag_text {
  position: absolute;
  top: 0;
  right: 0;
  font-family: $font-ssp-regular;
  font-style: italic;
  font-size: 0.6875em;
  color: $button-light-bg;
}

.group_margin {
  margin-bottom: 15px;
}

.icon_to {
  margin: 0 5px;
}

/* End modal */

/*********************************************/

/* Begin registration */

.auth {
  margin-top: 10px;
  border-radius: 3px;
  background-color: $light-bg;
  box-shadow: $main-box-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inform {
  font-family: $font-ssp-regular;
  font-size: 0.75em;
  color: $main-text-color;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &__icon {
    min-width: 14px;
    margin-right: 10px;
  }
  &__text {
    width: 100%;
  }
}

/* End registration */

/*********************************************/

/* Begin log-in */

.forgot__password {
  margin-left: auto;
  .link {
    font-family: $font-ssp-regular;
  }
}

/* End log-in */

/*********************************************/

/* Begin trade-history */

.position {
  font-family: $font-ssp-bold;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  svg {
    width: 7px;
    height: 12px;
    margin-right: 4px;
  }
  &.status_down {
    color: $red;
    svg {
      stroke: $red;
    }
  }
  &.status_up {
    color: $green;
    svg {
      stroke: $green;
    }
  }
}

.btn__box {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* End trade-history */

/*********************************************/

/* Begin markets */

.markets {
  &_box {
    //overflow: hidden;
    border-radius: 3px;
    background-color: $light-bg;
    box-shadow: $main-box-shadow;
  }
  &-toolbar {
    margin-top: 10px;
    border-radius: 3px;
    background-color: $light-bg;
    box-shadow: $main-box-shadow;
  }
  &-info {
    position: relative;
    margin-top: 10px;
    padding: 0 10px;
    height: 48px;
    border-radius: 3px;
    background-color: $light-bg;
    box-shadow: $main-box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__head {
      display: flex;
      align-items: center;
    }
    &__date {
      margin-right: 15px;
      font-family: $font-ssp-regular;
      font-size: 0.6875em;
      color: $light-text-color;
    }
    &__title {
      font-family: $font-ssp-bold;
      font-size: 0.75em;
      color: $light-text-color;
    }
    &__content {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: $font-ssp-regular;
      font-size: 0.6875em;
      color: $main-text-color;
      line-height: 14px;
      overflow: hidden;
      max-height: 14px;
    }
    &__close {
      position: absolute;
      top: 4px;
      right: 4px;
      padding: 5px;
      display: inline;
      line-height: 0;
      height: 9px;
    }
  }
  &-main {
    margin-top: 10px;
    border-radius: 3px;
    background-color: $light-bg;
    box-shadow: $main-box-shadow;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    &__left {
      min-width: 306px;
      max-width: 306px;
    }
    &__right {
      width: 100%;
      border-left: 1px solid transparentize($border-color, 0.8);
    }
    &_sm-table {
      min-width: 230px;
      max-width: 230px;
    }
  }
  &__tables {
    align-items: flex-start;
  }
  &-orders {
    min-width: 390px;
    max-width: 390px;
    margin-right: 10px;
  }
  &-courses {
    width: 100%;
  }
}

.box_margin {
  margin-top: 10px;
}

.toolbar-statistics {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.statistics__item {
  height: 48px;
  padding: 0 20px 0 10px;
  border-right: 1px solid transparentize($border-color, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:last-child {
    border-right: none;
  }
  &-name {
    font-family: $font-ssp-bold;
    font-size: 0.75em;
    color: $light-text-color;
    white-space: nowrap;
  }
  &-value {
    font-family: $global-font-family;
    font-size: 0.75em;
    color: $main-text-color;
    white-space: nowrap;
  }
  &.currency {
    padding: 0 36px;
    font-family: $font-ssp-bold;
    font-size: 0.8125em;
    color: $main-text-color;
  }
  &.stat_link {
    padding: 0 10px;
  }
}

.main__header {
  height: 42px;
  padding: 10px;
  border-bottom: 1px solid transparentize($border-color, 0.8);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  &.header_small {
    height: 32px;
  }
}

.header__title {
  font-family: $font-ssp-bold;
  font-size: 0.9375em;
  color: $gray;
}

.header__order-link {
  font-family: $font-ssp-bold;
  font-size: 0.75em;
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.header__switchers {
  margin-left: 15px;
}

.header__controls {
  width: 100%;
}

.main__table {
  padding: 7px;
}

.search-box {
  padding: 6px 10px 5px;
  display: flex;
  align-items: center;
}

.table-box {
  padding: 5px 5px 10px;
}

.table_markets {
  .table__row {
    height: 30px;
    padding-bottom: 5px;
  }
  td, th {
    padding: 0 14px 0 0;
    line-height: 1;
    box-sizing: border-box;
    &:last-child {
      padding: 0;
    }
    &.data_1 {
      padding-left: 10px;
    }
  }
  td {
    &.favorites {
      width: 25px;
      text-align: center;
      line-height: 0;
      box-sizing: border-box;
    }
    div {
      width: 100%;
      max-width: 73px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.table_order {
  .table__row {
    height: 30px;
    &.row_mean {
      background-color: $dark-bg !important;
    }
  }
  th, td {
    &.data_1 {
      min-width: 100px;
      box-sizing: border-box;
    }
    &.data_2 {
      width: 100%;
      text-align: center;
    }
    &.data_3 {
      min-width: 100px;
      box-sizing: border-box;
    }
    &.data_mean {
      font-family: $global-font-family;
      font-size: 0.75em;
      text-align: center;
      border-radius: 3px;
    }
  }
}

.inform_style {
  font-family: $font-ssp-regular;
  font-style: italic;
  font-size: 0.6875em;
  color: $link-color;
}

.limits-table {
  padding: 5px 10px;
  &__item {
    margin-bottom: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__row {
    flex-basis: 50%;
    margin-right: 10px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  &__table {
    width: 100%;
    height: 28px;
    overflow: hidden;
    border: 1px solid $form-border-color;
    border-collapse: collapse;
    border-radius: 3px;
    background-color: $form-bg;
    td, th {
      box-sizing: border-box;
      vertical-align: middle;
      line-height: 1;
    }
    td {
      &.data_1 {
        width: 35%;
        padding-left: 7px;
        font-family: $font-ssp-bold;
        font-size: 0.75em;
        color: transparentize($main-text-color, 0.3);
        text-transform: uppercase;
      }
      &.data_2 {
        text-align: left;
        font-family: $global-font-family;
        font-size: 0.75em;
        color: $main-text-color;
      }
      &.data_3 {
        max-width: 28px;
        height: 100%;
        padding: 0 11px;
        font-family: $font-ssp-regular;
        font-size: 0.75em;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        background-color: $button-light-bg;
      }
    }
  }
}

.limits-button__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.limits-btn__item {
  min-height: 30px;
  flex-basis: 50%;
  font-family: $font-ssp-bold;
  font-size: 0.8125em;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms ease-in-out;
  &:hover, &:active, &:focus {
    color: $white;
    text-decoration: none;
  }
  &.limits-btn_buy {
    background-color: $green;
    &:hover {
      background-color: $green-hover;
    }
    &:active {
      background-color: $green-passed;
    }
  }
  &.limits-btn_sell {
    background-color: $red;
    &:hover {
      background-color: $red-hover;
    }
    &:active {
      background-color: $red-passed;
    }
  }
}

.limits__trade {
  &-text {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px 0;
    font-family: $font-ssp-regular;
    font-size: 0.875em;
    color: transparentize($main-text-color, 0.3);
    text-align: center;
  }
}

/* End markets */

/*********************************************/

/* Begin graph-box */

.graph__conditions {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &-item {
    margin-right: 15px;
    line-height: 1;
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
  }
  &_drop {
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 5px;
      background-color: #fff;
      vertical-align: middle;
    }
  }
}

.conditions__link {
  font-family: $font-ssp-bold;
  font-size: 0.75em;
  color: $light-text-color;
  text-decoration: none;
  transition: color 300ms ease-in-out;
  &:hover {
    text-decoration: none;
    //color: $button-light-bg-focused;
    color: $light-text-color;
  }
  &_drop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    svg {
      margin-left: 4px;
    }
  }
}

.dropdown__list {
  //this is box of dropdown list
}

.graph__toggles {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &-column {
    display: flex;
    align-items: center;
  }
  &-item {
    position: relative;
    margin: 0 7px;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 0;
      width: 0;
      height: calc(100% + 2px);
      transform: translateX(-50%);
      transition: all 300ms ease-in-out;
    }
  }
  &-link {
    position: relative;
    z-index: 2;
    min-height: 42px;
    font-family: $font-ssp-bold;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    &:hover {
      text-decoration: none;
    }
  }
  &_green {
    .graph__toggles-link {
      color: $green;
      &:hover {
        color: $green;
      }
    }
    .toggles-link_active {
      &:before {
        width: calc(100% + 20px);
        background-color: $green;
      }
      .graph__toggles-link {
        color: $white;
      }
      &:hover {
        color: $white;
      }
    }
  }
  &_red {
    .graph__toggles-link {
      color: $red;
      &:hover {
        color: $red;
      }
    }
    .toggles-link_active {
      &:before {
        width: calc(100% + 20px);
        background-color: $red;
      }
      .graph__toggles-link {
        color: $white;
      }
      &:hover {
        color: $white;
      }
    }
  }
}

.graph__checkbox {
  max-width: 60px;
  margin-left: auto;
}

.graph__controls {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &-item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    padding: 5px;
  }
}

/* End graph-box */

/*********************************************/

/* End markets */

/*********************************************/

/* Begin form */

.form {
  &__group {
    position: relative;
    padding-top: 20px;
  }
  &__group-button {
    margin-bottom: 10px;
  }
  &__label {
    display: block;
    &-name {
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 2px;
      font-family: $font-ssp-regular;
      font-size: 0.75em;
      color: $main-text-color;
    }
  }
  &__input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-family: $font-ssp-regular;
    font-size: 0.75em;
    color: $main-text-color;
    outline: none;
    border: 1px solid $form-border-color;
    border-radius: 3px;
    background-color: $form-bg;
    box-sizing: border-box;
    &::placeholder {
      font-family: $font-ssp-regular;
      font-style: italic;
      font-size: 12px;
      color: $light-text-color;
      transition: all 300ms ease-in-out;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
        transform: translateX(30px);
      }
    }
  }
  &__info {
    margin-top: 2px;
    font-family: $font-ssp-regular;
    font-style: italic;
    font-size: 0.625em;
    color: $light-text-color;
  }
  &__radio-box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__radio-label {
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
  }
  &__radio-text {
    font-family: $font-ssp-regular;
    font-size: 0.875em;
    line-height: 14px;
    color: $main-text-color;
    margin-left: 10px;
  }
  &__radio-input {
    display: none;
    &:checked + .form__radio-btn {
      &:before {
        transform: scale(1);
      }
    }
  }
  &__radio-btn {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $button-light-bg;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      position: absolute;
      width: 8.5px;
      height: 8.5px;
      border-radius: 50%;
      background-color: $form-checked;
      transform: scale(0);
      transition: transform 300ms ease-in-out;
    }
  }
  &__slide-box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__slide-label {
    margin-right: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:last-child {
      margin-right: 0;
    }
  }
  &__slide-text {
    margin-right: 15px;
    font-family: $font-ssp-regular;
    font-size: 0.875em;
    line-height: 14px;
    color: $main-text-color;
  }
  &__slide-input {
    display: none;
    &:checked + .form__slide-btn {
      border-color: $form-checked;
      &:before {
        background-color: $form-checked;
        transform: translateX(18px);
      }
    }
  }
  &__slide-btn {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16px;
    border: 1px solid $light-text-color;
    border-radius: 10px;
    transition: border-color 300ms ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $light-text-color;
      transition: transform 300ms ease-in-out, background-color 300ms;
    }
  }
  &__change-password {
    padding: 5px 10px 10px;
  }
  &__checkbox-box {
    display: flex;
    align-items: center;
  }
  &__checkbox-label {
    margin-right: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    &:last-child {
      margin-right: 0;
    }
  }
  &__checkbox-input {
    display: none;
    &:checked + .form__checkbox-btn {
      &:before {
        transform: rotate(-45deg) scale(1);
      }
    }
  }
  &__checkbox-btn {
    position: relative;
    min-width: 12px;
    max-width: 12px;
    min-height: 12px;
    max-height: 12px;
    border: 1px solid $form-border-color;
    border-radius: 2px;
    background-color: $form-bg;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      width: 7px;
      height: 3px;
      border-left: 1px solid $white;
      border-bottom: 1px solid $white;
      transform: rotate(-45deg) scale(0);
      transition: transform 300ms ease-in-out;
    }
  }
  &__checkbox-text {
    margin: 0 5px;
    font-family: $font-ssp-regular;
    font-size: 0.75em;
    line-height: 14px;
    color: $button-light-bg;
  }
  &_registration {
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    margin-bottom: 20px;
    font-family: $font-ssp-bold;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    color: $gray;
  }
  &_login {
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
  &__cancel {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &-icon {
      margin-right: 5px;
      line-height: 1;
      svg {
        line-height: 1;
      }
    }
    &-text {
      font-family: $font-ssp-regular;
      font-size: 0.75em;
      color: $red;
    }
  }
}

/* End form */

/*********************************************/

/* Begin profile__footer */

.cabinet__footer {
  height: 40px;
  padding: 0 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $footer-bg;
  border-radius: 3px;
  background-color: $footer-bg;
  box-shadow: $footer-box-shadow;
}

.copyright {
  font-family: $font-ssp-regular;
  font-size: 0.75em;
  color: $white;
  opacity: 0.5;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__item {
    position: relative;
    margin: 0 10px;
    &:after {
      content: '';
      position: absolute;
      top: 7px;
      right: -10px;
      height: 14px;
      width: 1px;
      background-color: $white;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: none;
      }
    }
  }
}

.menu-item__link {
  font-family: $font-ssp-regular;
  font-size: 0.75em;
  line-height: 25px;
  color: $white;
  transition: color 300ms ease-in-out;
  &:hover {
    color: $button-light-bg-focused;
    text-decoration: none;
  }
  &:active {
    color: $button-light-bg-active;
  }
}

.social {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__item {
    margin-right: 15px;
    border-radius: 50%;
    background-color: $white;
    transition: background-color 300ms ease-in-out;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $button-light-bg-focused;
      .social-item__link {
        svg {
          fill: $white;
        }
      }
    }
    &:active {
      background-color: $button-light-bg-active;
    }
  }
  &_m {
    width: 11px;
    height: 8px;
  }
  &_tw {
    width: 11px;
    height: 9px;
  }
  &_tg {
    width: 11px;
    height: 11px;
  }
  &_rd {
    width: 11px;
    height: 12px;
  }
}

.social-item__link {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    fill: $svg-color;
    transition: fill 300ms ease-in-out;
  }
}

/* End profile__footer */
